/**
 * -----------------------------------------------
 * Last Modified: 2019-11-13 10:47:14
 * Author: nana (nykim@nykim.net)
 * Description: 하루퍼블 CSS
 * -----------------------------------------------
 */

/*! style.css */.hero{font-size:14px}.hero-body{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-align-items:center;-moz-align-items:center;-ms-align-items:center;align-items:center;width:100%;height:100vh}.hero-title{position:relative}.hero-title-shape{position:absolute;top:-10px;left:-5px;right:-5px;bottom:-20px;overflow:hidden;background:#2128bd}.hero-title-blend{z-index:1;position:relative;color:#000;background-color:#fff;transform:translateZ(0);mix-blend-mode:screen}.hero-title-text{display:inline-block;font-weight:600;letter-spacing:-0.075em;line-height:93%;text-rendering:optimizeSpeed;font-size:8vw}
