/**
 * -----------------------------------------------
 * Last Modified: 2019-11-21 17:17:48
 * Author: nana (nykim@nykim.net)
 * Description: 하루퍼블 CSS
 * -----------------------------------------------
 */

/*! style.css */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");
.emoji {
		display: inline-block;
		vertical-align: middle;
		background-image: url(../images/emoji.png);
		background-repeat: no-repeat;
}

.emoji-alarm {
		background-position: -77px -76px;
		width: 25px;
		height: 28px;
}

.emoji-book {
		background-position: 0 -109px;
		width: 24px;
		height: 29px;
}

.emoji-darts {
		background-position: -48px -76px;
		width: 28px;
		height: 28px;
}

.emoji-ok {
		background-position: -144px -44px;
		width: 31px;
		height: 40px;
}

.emoji-moneybag {
		background-position: -144px 0;
		width: 32px;
		height: 43px;
}

.emoji-money {
		background-position: 0 -76px;
		width: 47px;
		height: 32px;
}

.emoji-clutch {
		background-position: -99px -38px;
		width: 40px;
		height: 36px;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
img,
small article,
aside,
footer,
header,
nav,
address,
section,
main,
time,
ol,
ul,
li,
hr,
strong,
figure,
tr,
th,
td,
dl,
dt,
dd,
fieldset {
		margin: 0;
		padding: 0;
		border: 0;
		vertical-align: baseline;
		-webkit-text-size-adjust: none;
		font-style: normal;
}

*,
*::before,
*::after {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
}

[tabindex="-1"]:focus {
		outline: 0 !important;
}

ul,
ol,
li,
dl {
		list-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
		text-decoration: none;
		font-family: "Montserrat", AppleGothic, sans-serif, Helvetica;
		color: inherit;
}

a:hover,
a:active {
		outline: 0;
}

a,
button {
		-webkit-tap-highlight-color: rgba(238, 186, 186, 0.4);
}

button:disabled,
button[disabled] {
		-webkit-tap-highlight-color: transparent;
		color: inherit;
}

hr {
		display: none;
}

button {
		display: block;
		margin: 0;
		padding: 0;
		font-family: "Montserrat", AppleGothic, sans-serif, Helvetica;
		border: 0;
		-webkit-appearance: none;
		-webkit-border-radius: 0;
		background: none;
		cursor: pointer;
}

button:focus {
		outline: 0;
}

i {
		font-style: normal;
}

a,
area,
button,
[role="button"],
input:not([type="range"]),
label,
select,
summary,
textarea {
		-ms-touch-action: manipulation;
		touch-action: manipulation;
}

table {
		border-collapse: collapse;
}

caption {
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
		color: #868e96;
		text-align: left;
		caption-side: bottom;
}

th {
		text-align: inherit;
}

input {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-family: "Montserrat", AppleGothic, sans-serif, Helvetica;
		width: 100%;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		vertical-align: top;
		border-radius: 0;
		-webkit-border-radius: 0px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		-webkit-border-radius: 0;
		background-color: transparent;
		border: 1px solid transparent;
}

input[type="password"] {
		font-family: sans-serif, Helvetica;
		letter-spacing: 1px;
}

input[type="password"]::-webkit-input-placeholder {
		font-family: "Montserrat", AppleGothic, sans-serif, Helvetica;
		letter-spacing: 0;
}

input[type="password"]:-moz-placeholder {
		font-family: "Montserrat", AppleGothic, sans-serif, Helvetica;
		letter-spacing: 0;
}

input[type="password"]::-moz-placeholder {
		font-family: "Montserrat", AppleGothic, sans-serif, Helvetica;
		letter-spacing: 0;
}

input[type="password"]:-ms-input-placeholder {
		font-family: "Montserrat", AppleGothic, sans-serif, Helvetica;
		letter-spacing: 0;
}

input[type="text"],
input[type="email"] {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
}

input:disabled,
input[readonly] {
		opacity: 1;
		-webkit-text-fill-color: inherit;
}

html {
		position: relative;
		width: 100%;
		min-width: 100%;
		min-height: 100%;
		height: 100%;
		line-height: 1.15;
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
		-ms-overflow-style: scrollbar;
		-webkit-tap-highlight-color: transparent;
		font-size: 62.5%;
		font-weight: 500;
}

body {
		position: relative;
		min-height: 100%;
		height: 100%;
		overflow-y: auto;
		font-family: "Montserrat", AppleGothic, sans-serif, Helvetica;
		color: #2128bd;
		text-align: left;
		font-weight: 500;
		line-height: 1.5;
		background-color: #fff;
		-webkit-font-smoothing: antialiased;
}

.wrap {
		position: relative;
}

a:focus {
		outline: 4px solid purple;
}

.section {
		position: relative;
		overflow: hidden;
}

.container {
		max-width: 1600px;
		margin: 0 auto;
		padding: 0 270px 0 270px;
}

.fill {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
}

.fill + [class$="-content"] {
		position: relative;
		z-index: 1;
}

.fill[class$="--tertiary"] {
		background: #fdf0e5;
}

.fill[class$="--secondary"] {
		background: #eefbff;
}

.fill[class$="--getapp"] {
		background: #ecf1fd;
}

.fill[class$="--getapp2"] {
		background: #ecf1fd;
		background: #f2eccc;
}

.grid {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		-moz-align-items: center;
		-ms-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		-ms-flex-pack: center;
}

.grid-col.--right {
		padding-left: 90px;
}

.svgsprite {
		display: inline-block;
		width: 1em;
		height: 1em;
		fill: currentColor;
		vertical-align: middle;
}

.text-hidden {
		position: absolute;
		position: absolute;
		left: -9999px;
		top: auto;
		width: 1px;
		height: 1px;
		overflow: hidden;
}

.nav-container,
.getapp-footer-container {
		padding: 0 30px;
}

@media screen and (min-width: 768px) {
		.nav-container,
		.getapp-footer-container {
				padding: 0 50px;
		}
}

@media screen and (min-width: 1600px) {
		.nav-container,
		.getapp-footer-container {
				padding: 0 70px;
		}
}

@keyframes Ani_sign-marquee {
		0% {
				-webkit-transform: translate3d(0, 0, 0);
				-moz-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
		}
		100% {
				-webkit-transform: translate3d(-100%, 0, 0);
				-moz-transform: translate3d(-100%, 0, 0);
				transform: translate3d(-100%, 0, 0);
		}
}

@keyframes wt-navbar-menu-nav-show {
		0% {
				-webkit-transform: skewY(7deg) translateY(110%);
				-moz-transform: skewY(7deg) translateY(110%);
				-o-transform: skewY(7deg) translateY(110%);
				transform: skewY(7deg) translateY(110%);
				-webkit-transform-origin: left center;
				-moz-transform-origin: left center;
				-o-transform-origin: left center;
				transform-origin: left center;
		}
		100% {
				-webkit-transform: skewY(0) translateY(0);
				-moz-transform: skewY(0) translateY(0);
				-o-transform: skewY(0) translateY(0);
				transform: skewY(0) translateY(0);
				-webkit-transform-origin: left center;
				-moz-transform-origin: left center;
				-o-transform-origin: left center;
				transform-origin: left center;
		}
}

@keyframes Ani_menu-show {
		0% {
				opacity: 0;
				transform: skewY(7deg) translateY(110%);
				transform-origin: left center;
		}
		100% {
				opacity: 1;
				transform: skewY(0) translateY(0);
				transform-origin: left center;
		}
}

.nav-strip {
		z-index: 99;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height: 64px;
		transition: top 0.4s, transform 0.4s, background 0.3s, -webkit-transform 0.4s, -moz-transform 0.4s, -o-transform 0.4s;
		-webkit-backdrop-filter: blur(6px);
		backdrop-filter: blur(6px);
		background: rgba(255, 255, 255, 0.9);
}

@media screen and (min-width: 1024px) {
		.nav-strip {
				top: 25px;
				backdrop-filter: none;
				background-color: transparent;
		}
}

.nav-container {
		height: 100%;
}

.nav-grid {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		-moz-align-items: center;
		-ms-align-items: center;
		align-items: center;
		-webkit-justify-content: space-between;
		-moz-justify-content: space-between;
		-ms-justify-content: space-between;
		justify-content: space-between;
		-ms-flex-pack: space-between;
		height: 100%;
}

.nav-logo {
		width: 99px;
		height: 13px;
}

@media screen and (min-width: 768px) {
		.nav-logo {
				width: 114px;
				height: 17px;
		}
}

.nav-logo-link {
		display: block;
		width: 100%;
		height: 100%;
}

.nav-logo-link img {
		width: 100%;
		height: 100%;
}

.nav-menu {
		display: none;
}

@media screen and (min-width: 768px) {
		.nav-menu {
				display: inline-block;
				margin-right: 20px;
		}
}

@media screen and (min-width: 1200px) {
		.nav-menu {
				margin-right: 30px;
		}
}

.nav-menu-item {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		padding: 0 20px;
		font-size: 14px;
		font-weight: 600;
		letter-spacing: -0.21px;
		text-decoration: none;
		white-space: nowrap;
		text-align: center;
}

@media screen and (min-width: 1024px) {
		.nav-menu-item {
				font-size: 15px;
				letter-spacing: -0.22px;
		}
}

@media screen and (min-width: 1200px) {
		.nav-menu-item {
				padding: 10px 35px;
		}
}

.nav-menu-item:hover .nav-menu-item-text {
		transform: skewY(7deg) translateY(-140%);
}

.nav-menu-item:hover .nav-menu-item-text:after {
		transform: skewY(-7deg);
}

.nav-menu-item-bound {
		display: block;
		overflow: hidden;
}

.nav-menu-item-text {
		position: relative;
		display: block;
		transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
		transform-origin: left center;
}

.nav-menu-item-text:after {
		content: attr(data-text);
		display: block;
		position: absolute;
		top: 140%;
		color: red;
		transform: skewY(30deg);
		transform-origin: left center;
		transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-menu-btn {
		display: none;
}

@media screen and (min-width: 768px) {
		.nav-menu-btn {
				display: inline-block;
				vertical-align: middle;
		}
}

.nav-menu-burger {
		display: inline-block;
		vertical-align: middle;
}

@media screen and (min-width: 768px) {
		.nav-menu-burger {
				display: none;
		}
}

.nav-mobile {
		z-index: 98;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		max-height: 0;
		transform-origin: top center;
		transition: max-height 0.7s cubic-bezier(0.19, 1, 0.22, 1) 400ms;
}

.nav-mobile-fill {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #fff;
}

.nav-mobile-content {
		opacity: 0;
		position: relative;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		-ms-flex-pack: center;
		-webkit-align-items: center;
		-moz-align-items: center;
		-ms-align-items: center;
		align-items: center;
		height: 100%;
		color: #005ffe;
		text-align: center;
		transition: opacity 500ms;
}

.nav-mobile-item {
		display: block;
		padding: 10px 0;
		overflow: hidden;
		font-size: 40px;
		font-weight: 600;
		letter-spacing: -0.59px;
		line-height: 120%;
}

.nav-mobile-item-text {
		display: block;
		color: inherit;
}

.nav-mobile-item:hover {
		color: #2128bd;
}

.nav.-open .nav-mobile {
		max-height: 100%;
		transition: max-height 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav.-open .btn-burger-line {
		transition: top 0.3s, transform 0.3s 0.3s;
}

.nav.-open .btn-burger-line:nth-child(1) {
		top: 4px;
		transform: rotate(45deg);
}

.nav.-open .btn-burger-line:nth-child(2) {
		top: -2px;
		transform: rotate(-45deg);
}

.nav.-open .nav-mobile-content {
		opacity: 1;
}

.nav.-open .nav-mobile-fill {
		transform: scaleY(1);
}

.nav.-open .nav-mobile-item:nth-child(1) .nav-mobile-item-text {
		animation-delay: 200ms;
}

.nav.-open .nav-mobile-item:nth-child(2) .nav-mobile-item-text {
		animation-delay: 400ms;
}

.nav.-open .nav-mobile-item-text {
		animation: Ani_menu-show 1s cubic-bezier(0.19, 1, 0.22, 1) backwards;
}

.shape-title {
		position: relative;
		width: 100%;
		text-align: center;
}

.shape-title-shape {
		contain: strict;
		position: absolute;
		top: 0px;
		left: 0;
		right: 0;
		bottom: -30px;
		background: #2128bd;
		overflow: hidden;
}

.shape-title-blend {
		z-index: 1;
		position: relative;
		width: 100%;
		color: #000;
		background-color: #fff;
		mix-blend-mode: screen;
		transform: translateZ(0);
}

.shape-title-blend:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0px;
		left: 0;
		right: 0;
		bottom: -30px;
		background: #fff;
}

.shape-title-text {
		display: inline-block;
		font-weight: 600;
		letter-spacing: -0.075em;
		text-rendering: optimizeSpeed;
		line-height: 80%;
		font-size: 46px;
}

@media screen and (min-width: 375px) {
		.shape-title-text {
				font-size: 52px;
		}
}

@media screen and (min-width: 768px) {
		.shape-title-text {
				font-size: 90px;
		}
}

@media screen and (min-width: 1024px) {
		.shape-title-text {
				font-size: 110px;
		}
}

@media screen and (min-width: 1600px) {
		.shape-title-text {
				font-size: 120px;
		}
}

.shape-title br {
		display: none;
}

.shape-title .block {
		overflow: hidden;
		padding: 0.15em;
		margin: -0.15em;
		vertical-align: top;
}

.cursor {
		z-index: 1;
		position: absolute;
		width: 400px;
		height: 400px;
		top: 50%;
		left: 0;
		background: #ffcc57;
		border-radius: 100%;
}

.btn-transparent {
		color: #005ffe;
		border: 1px rgba(0, 95, 254, 0.3) solid;
}

.btn-rounded {
		height: 60px;
		padding: 0 39px;
		-webkit-border-radius: 18px;
		-moz-border-radius: 18px;
		border-radius: 18px;
		font-size: 16px;
		font-weight: 600;
		letter-spacing: -0.21px;
}

.btn-rounded .btn-text {
		position: relative;
		display: block;
		transition: transform 0.85s cubic-bezier(0.19, 1, 0.22, 1);
		transform-origin: left center;
}

.btn-rounded .btn-text:after {
		position: absolute;
		top: 150%;
		display: block;
		content: attr(data-text);
		transform: skewY(30deg);
		transform-origin: left center;
		transition: transform 0.85s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-rounded:hover .btn-text {
		transform: translateY(-150%) skewY(7deg);
}

.btn-rounded:hover .btn-text:after {
		transform: skewY(-7deg);
}

.btn-bound {
		display: block;
		overflow: hidden;
}

.btn-store {
		display: -webkit-inline-box;
		display: -webkit-inline-flex;
		display: -moz-inline-flex;
		display: -ms-inline-flexbox;
		display: inline-flex;
		-webkit-align-items: center;
		-moz-align-items: center;
		-ms-align-items: center;
		align-items: center;
		border: 1px rgba(0, 95, 254, 0.3) solid;
		font-weight: 500;
		text-align: left;
		color: #2128bd;
		height: 57px;
		min-width: 165px;
		padding: 0 18px;
		font-size: 13px;
		border-radius: 10px;
		line-height: 14px;
		letter-spacing: -0.17px;
		height: 72px;
		min-width: 203px;
		padding: 0 23px;
		font-size: 16px;
		border-radius: 20px;
		line-height: 18px;
		letter-spacing: -0.21px;
}

.btn-store-icon {
		display: block;
		line-height: 0;
		font-size: 20px;
		min-width: 37px;
		min-width: 40px;
		font-size: 22px;
}

.btn-store-title b {
		letter-spacing: 0;
}

.btn-store:disabled {
		opacity: 0.5;
		-moz-pointer-events: none;
		-webkit-pointer-events: none;
		-o-pointer-events: none;
		-ms-pointer-events: none;
		pointer-events: none;
}

.btn-sign {
		position: relative;
		color: #005ffe;
		transition: color 0.3s;
		border-radius: 26px;
		font-weight: 600;
		white-space: nowrap;
		font-size: 14px;
		letter-spacing: -0.21px;
}

@media screen and (min-width: 768px) {
		.btn-sign {
				font-size: 15px;
				letter-spacing: -0.22px;
				height: 35px;
		}
}

@media screen and (min-width: 1200px) {
		.btn-sign {
				height: 45px;
		}
}

.btn-sign:before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: inherit;
		background-color: rgba(0, 95, 254, 0.1);
		transition: background 0.4s, transform 1s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1), -moz-transform 1s cubic-bezier(0.19, 1, 0.22, 1), -o-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-sign-text {
		position: relative;
		display: inline-block;
		padding: 0 21px;
		animation: Ani_sign-marquee 2s linear infinite;
		padding: 0 25px;
}

.btn-sign-text:after {
		content: attr(data-text);
		display: block;
		position: absolute;
		top: 0;
		left: 100%;
		padding: inherit;
}

.btn-sign:hover {
		color: #fff;
}

.btn-sign:hover:before {
		background-color: #2128bd;
		transform: scale(1.07);
}

.btn-burger {
		position: relative;
		width: 21px;
		height: 21px;
}

.btn-burger:before {
		content: "";
		position: absolute;
		top: -10px;
		left: -10px;
		right: -10px;
		bottom: -10px;
}

.btn-burger-line {
		display: block;
		position: relative;
		top: 0;
		width: 100%;
		height: 2px;
		margin: 4px 0;
		background-color: #005ffe;
		transition: top 0.3s 0.3s, transform 0.3s;
		-moz-pointer-events: none;
		-webkit-pointer-events: none;
		-o-pointer-events: none;
		-ms-pointer-events: none;
		pointer-events: none;
}

.hero {
		position: relative;
}

.hero-content {
		min-height: 520px;
		padding-top: 180px;
		padding-bottom: 150px;
}

@media screen and (min-width: 768px) {
		.hero-content {
				padding-top: 0;
				padding-bottom: 200px;
		}
}

@media screen and (min-width: 1600px) {
		.hero-content {
				padding-bottom: 250px;
		}
}

.hero-body {
		width: 100%;
		text-align: center;
}

@media screen and (min-width: 768px) {
		.hero-body {
				display: -webkit-box;
				display: -moz-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				-webkit-align-items: center;
				-moz-align-items: center;
				-ms-align-items: center;
				align-items: center;
				-webkit-justify-content: center;
				-moz-justify-content: center;
				-ms-justify-content: center;
				justify-content: center;
				-ms-flex-pack: center;
				height: 100vh;
		}
}

.hero-title {
		position: relative;
		width: 100%;
		text-align: center;
}

.hero-title-shape {
		contain: strict;
		position: absolute;
		top: 0px;
		left: 0;
		right: 0;
		bottom: -30px;
		background: #2128bd;
		overflow: hidden;
}

.hero-title-cursor {
		z-index: 1;
		position: absolute;
		width: 400px;
		height: 400px;
		top: 50%;
		left: 0;
		background: #ffcc57;
		border-radius: 100%;
}

.hero-title-blend {
		z-index: 1;
		position: relative;
		width: 100%;
		color: #000;
		background-color: #fff;
		mix-blend-mode: screen;
		transform: translateZ(0);
}

.hero-title-blend:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0px;
		left: 0;
		right: 0;
		bottom: -30px;
		background: #fff;
}

.hero-title-text {
		display: inline-block;
		font-weight: 600;
		letter-spacing: -0.075em;
		text-rendering: optimizeSpeed;
		line-height: 85%;
		font-size: 46px;
}

@media screen and (min-width: 375px) {
		.hero-title-text {
				font-size: 52px;
		}
}

@media screen and (min-width: 768px) {
		.hero-title-text {
				font-size: 90px;
		}
}

@media screen and (min-width: 1024px) {
		.hero-title-text {
				font-size: 110px;
		}
}

@media screen and (min-width: 1600px) {
		.hero-title-text {
				font-size: 120px;
		}
}

.hero-title br {
		display: none;
}

.hero-title .block {
		overflow: hidden;
		padding: 0.15em;
		margin: -0.15em;
		vertical-align: top;
}

.hero-footer {
		margin-top: 150px;
}

@media screen and (min-width: 768px) {
		.hero-footer {
				margin-top: -100px;
		}
}

@media screen and (min-width: 1600px) {
		.hero-footer {
				margin-top: -150px;
		}
}

.hero-demo {
		position: relative;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		-ms-flex-pack: center;
}

.hero-demo-card {
		position: absolute;
		display: block;
		background-size: 100%;
		transform-origin: 50% 120%;
		transform: rotate(-35deg);
		left: 40%;
		top: 45px;
		width: 170px;
		height: 267px;
		background-image: url(../images/wcard-xs.png);
		background-repeat: no-repeat;
}

@media (-webkit-min-device-pixel-ratio: 2), not all, (min-resolution: 192dpi) {
		.hero-demo-card {
				background-image: url(../images/wcard-xs@2x.png);
				background-repeat: no-repeat;
		}
}

@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), not all, (min-resolution: 192dpi) and (min-width: 768px) {
		.hero-demo-card {
				background-image: url(../images/wcard-sm@2x.png);
				background-repeat: no-repeat;
		}
}

@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 1600px), not all, (min-resolution: 192dpi) and (min-width: 1600px) {
		.hero-demo-card {
				background-image: url(../images/wcard@2x.png);
				background-repeat: no-repeat;
		}
}

@media screen and (min-width: 768px) {
		.hero-demo-card {
				left: 50%;
				top: 90px;
				width: 220px;
				height: 345px;
				margin-left: -110px;
				background-image: url(../images/wcard-sm.png);
				background-repeat: no-repeat;
		}
}

@media screen and (min-width: 1600px) {
		.hero-demo-card {
				top: 80px;
				margin-left: -130px;
				width: 260px;
				height: 408px;
				background-image: url(../images/wcard.png);
				background-repeat: no-repeat;
		}
}

.hero-demo-phone {
		position: relative;
		display: inline-block;
}

.hero-demo-phone-shadow {
		position: absolute;
		opacity: 0.8;
		top: -8.577%;
		left: -41.289%;
		right: -14.68%;
		bottom: -11.483%;
		background-image: url(../images/phone-shadow.png);
		background-repeat: no-repeat;
		background-size: contain;
}

.hero-demo-phone-case {
		position: relative;
		z-index: 1;
		background-image: url(../images/phone.png);
		background-repeat: no-repeat;
		background-size: cover;
		width: 212.55px;
		height: 447.2px;
}

@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), not all, (min-resolution: 192dpi) and (min-width: 768px) {
		.hero-demo-phone-case {
				background-image: url(../images/phone@2x.png);
				background-repeat: no-repeat;
		}
}

@media screen and (min-width: 768px) {
		.hero-demo-phone-case {
				width: 277.95px;
				height: 584.8px;
		}
}

@media screen and (min-width: 1600px) {
		.hero-demo-phone-case {
				width: 327px;
				height: 688px;
		}
}

.hero-demo-phone-screen {
		z-index: 1;
		position: absolute;
		border-radius: 25px;
		overflow: hidden;
		top: 8.45px;
		left: 6.5px;
		width: 199.55px;
		height: 430.3px;
}

@media screen and (min-width: 768px) {
		.hero-demo-phone-screen {
				top: 11.05px;
				left: 8.5px;
				width: 260px;
				height: 562px;
		}
}

@media screen and (min-width: 1600px) {
		.hero-demo-phone-screen {
				top: 13px;
				left: 10px;
				width: 307px;
				height: 662px;
				border-radius: 30px;
		}
}

.hero-demo-phone-screen video {
		width: 100%;
}

.envelope {
		position: relative;
}

.envelope-content {
		z-index: 1;
		position: relative;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		-moz-align-items: center;
		-ms-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		-ms-flex-pack: center;
		height: 70vh;
		min-height: 455px;
		transform-style: preserve-3d;
}

@media screen and (min-width: 768px) {
		.envelope-content {
				height: 150vh;
				min-height: 850px;
		}
}

.envelope-body {
		width: 100%;
		text-align: center;
}

.envelope-title {
		font-size: 30px;
		font-weight: 600;
		line-height: 34px;
		letter-spacing: -2.24px;
		color: #2128bd;
}

@media screen and (min-width: 360px) {
		.envelope-title {
				font-size: 31px;
		}
}

@media screen and (min-width: 375px) {
		.envelope-title {
				font-size: 34px;
				line-height: 37px;
		}
}

@media screen and (min-width: 768px) {
		.envelope-title {
				font-size: 60px;
				letter-spacing: -4.48px;
				line-height: 65px;
		}
}

@media screen and (min-width: 1024px) {
		.envelope-title {
				font-size: 70px;
				letter-spacing: -5.22px;
				line-height: 75px;
		}
}

@media screen and (min-width: 1600px) {
		.envelope-title {
				font-size: 80px;
				letter-spacing: -5px;
				line-height: 86px;
		}
}

.envelope-text {
		color: #2128bd;
		margin-top: 10px;
		font-size: 14px;
		letter-spacing: -0.3px;
		line-height: 21px;
}

@media screen and (min-width: 768px) {
		.envelope-text {
				margin-top: 25px;
				font-size: 24px;
				letter-spacing: -0.4px;
				line-height: 26px;
		}
}

@media screen and (min-width: 1024px) {
		.envelope-text {
				margin-top: 35px;
		}
}

.envelope-particle {
		z-index: 2;
		position: absolute;
		top: 50%;
		left: 50%;
		-moz-pointer-events: none;
		-webkit-pointer-events: none;
		-o-pointer-events: none;
		-ms-pointer-events: none;
		pointer-events: none;
}

.envelope-particle-item {
		position: absolute;
		-moz-pointer-events: auto;
		-webkit-pointer-events: auto;
		-o-pointer-events: auto;
		-ms-pointer-events: auto;
		pointer-events: auto;
		will-change: transform;
		transform: scale(0.77);
}

@media screen and (min-width: 0px) {
		.envelope-particle-item.-v1 {
				top: 41.65px;
				right: 140.7px;
		}
}

@media screen and (min-width: 768px) {
		.envelope-particle-item.-v1 {
				top: 95.2px;
				right: 321.6px;
		}
}

@media screen and (min-width: 1024px) {
		.envelope-particle-item.-v1 {
				top: 107.1px;
				right: 361.8px;
		}
}

@media screen and (min-width: 1600px) {
		.envelope-particle-item.-v1 {
				top: 130.9px;
				right: 442.2px;
		}
}

@media screen and (min-width: 0px) {
		.envelope-particle-item.-v2 {
				top: 83.65px;
				right: 38.5px;
		}
}

@media screen and (min-width: 768px) {
		.envelope-particle-item.-v2 {
				top: 191.2px;
				right: 88px;
		}
}

@media screen and (min-width: 1024px) {
		.envelope-particle-item.-v2 {
				top: 215.1px;
				right: 99px;
		}
}

@media screen and (min-width: 1600px) {
		.envelope-particle-item.-v2 {
				top: 262.9px;
				right: 121px;
		}
}

@media screen and (min-width: 0px) {
		.envelope-particle-item.-v3 {
				top: 80.15px;
				left: 68.6px;
		}
}

@media screen and (min-width: 768px) {
		.envelope-particle-item.-v3 {
				top: 183.2px;
				left: 156.8px;
		}
}

@media screen and (min-width: 1024px) {
		.envelope-particle-item.-v3 {
				top: 206.1px;
				left: 176.4px;
		}
}

@media screen and (min-width: 1600px) {
		.envelope-particle-item.-v3 {
				top: 251.9px;
				left: 215.6px;
		}
}

@media screen and (min-width: 0px) {
		.envelope-particle-item.-v4 {
				top: 41.65px;
				left: 141.75px;
		}
}

@media screen and (min-width: 768px) {
		.envelope-particle-item.-v4 {
				top: 95.2px;
				left: 324px;
		}
}

@media screen and (min-width: 1024px) {
		.envelope-particle-item.-v4 {
				top: 107.1px;
				left: 364.5px;
		}
}

@media screen and (min-width: 1600px) {
		.envelope-particle-item.-v4 {
				top: 130.9px;
				left: 445.5px;
		}
}

@media screen and (min-width: 0px) {
		.envelope-particle-item.-v5 {
				right: 138.25px;
				bottom: 46.2px;
		}
}

@media screen and (min-width: 768px) {
		.envelope-particle-item.-v5 {
				right: 316px;
				bottom: 105.6px;
		}
}

@media screen and (min-width: 1024px) {
		.envelope-particle-item.-v5 {
				right: 355.5px;
				bottom: 118.8px;
		}
}

@media screen and (min-width: 1600px) {
		.envelope-particle-item.-v5 {
				right: 434.5px;
				bottom: 145.2px;
		}
}

@media screen and (min-width: 0px) {
		.envelope-particle-item.-v6 {
				right: 40.25px;
				bottom: 79.1px;
		}
}

@media screen and (min-width: 768px) {
		.envelope-particle-item.-v6 {
				right: 92px;
				bottom: 180.8px;
		}
}

@media screen and (min-width: 1024px) {
		.envelope-particle-item.-v6 {
				right: 103.5px;
				bottom: 203.4px;
		}
}

@media screen and (min-width: 1600px) {
		.envelope-particle-item.-v6 {
				right: 126.5px;
				bottom: 248.6px;
		}
}

@media screen and (min-width: 0px) {
		.envelope-particle-item.-v7 {
				left: 47.6px;
				bottom: 79.1px;
		}
}

@media screen and (min-width: 768px) {
		.envelope-particle-item.-v7 {
				left: 108.8px;
				bottom: 180.8px;
		}
}

@media screen and (min-width: 1024px) {
		.envelope-particle-item.-v7 {
				left: 122.4px;
				bottom: 203.4px;
		}
}

@media screen and (min-width: 1600px) {
		.envelope-particle-item.-v7 {
				left: 149.6px;
				bottom: 248.6px;
		}
}

@media screen and (min-width: 0px) {
		.envelope-particle-item.-v8 {
				left: 143.5px;
				bottom: 46.55px;
		}
}

@media screen and (min-width: 768px) {
		.envelope-particle-item.-v8 {
				left: 328px;
				bottom: 106.4px;
		}
}

@media screen and (min-width: 1024px) {
		.envelope-particle-item.-v8 {
				left: 369px;
				bottom: 119.7px;
		}
}

@media screen and (min-width: 1600px) {
		.envelope-particle-item.-v8 {
				left: 451px;
				bottom: 146.3px;
		}
}

.showreel-content {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		-moz-align-items: center;
		-ms-align-items: center;
		align-items: center;
		-webkit-justify-content: flex-start;
		-moz-justify-content: flex-start;
		-ms-justify-content: flex-start;
		justify-content: flex-start;
		-ms-flex-pack: flex-start;
		width: 100%;
		height: 100vh;
		overflow: hidden;
}

.showreel-roll {
		margin: 0 calc(50vw - 672px / 2);
}

.showreel-roll-inner {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		-moz-align-items: center;
		-ms-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		-ms-flex-pack: center;
}

.showreel-roll-item {
		max-width: 672px;
		min-width: 672px;
		margin: 0 40px;
}

.showreel-roll-item:first-child {
		margin-left: 0;
}

.showreel-roll-item-title {
		position: relative;
		text-align: left;
		font-weight: 500;
		color: #030762;
		font-weight: 600;
		font-size: 40px;
		letter-spacing: -0.67px;
		line-height: 52px;
}

.showreel-roll-item-title:before {
		z-index: 1;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		color: #fff;
		content: attr(data-text);
		mix-blend-mode: overlay;
}

.description-content {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		-moz-align-items: center;
		-ms-align-items: center;
		align-items: center;
		padding-bottom: 180px;
		height: 105vh;
		min-height: 650px;
		padding: 130px 0;
}

.description-body {
		width: 100%;
}

.description-header {
		font-size: 28px;
		letter-spacing: -0.48px;
		line-height: 42px;
}

.description-text {
		font-size: 28px;
		letter-spacing: -0.48px;
		line-height: 42px;
		max-width: 416px;
}

.description-action {
		margin: 50px 0 0 0;
}

.description-figure {
		position: relative;
}

.description-figure img {
		position: absolute;
		top: 0;
		left: 0;
		will-change: transform;
		max-width: 248px;
		max-width: 290px;
		max-width: 80%;
		max-width: 90%;
		max-width: 100%;
}

.description-figure img:first-child {
		position: static;
}

.grid-description {
		-webkit-justify-content: space-between;
		-moz-justify-content: space-between;
		-ms-justify-content: space-between;
		justify-content: space-between;
		-ms-flex-pack: space-between;
		width: 100%;
}

.grid-description .grid-col {
		margin: 0;
}

.grid-description .grid-col.--left {
		max-width: 56%;
}

.grid-description .grid-col.--right {
		padding-left: 70px;
}

.feature-content {
		padding: 150px 0 250px;
}

.feature-body {
		width: 100%;
}

.feature-grid {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		-moz-align-items: center;
		-ms-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		-ms-flex-pack: center;
}

.feature-demo {
		position: relative;
		width: 463px;
		height: 463px;
}

.desktop .feature-demo {
		will-change: transform;
		contain: strict;
}

.feature-demo-item {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		contain: paint;
		transform: scale(0.95);
		transform-origin: center center;
		will-change: transform;
		transition: opacity 0.2s, transform 1s;
}

.feature-demo-item.--visible {
		opacity: 1;
		transform: scale(1);
}

.feature-text {
		min-width: 334px;
		margin: 30px 0;
		font-size: 40px;
		line-height: 54px;
		letter-spacing: -0.7px;
		font-weight: 800;
		text-shadow: none;
		-webkit-text-stroke: 1px #0019ac;
		opacity: 0.5;
		color: #eefbff;
		transition: all 0.3s;
}

.feature-text:hover {
		opacity: 1;
		color: #0019ac;
		text-shadow: -1px -1px 0 transparent, 1px -1px 0 transparent, -1px 1px 0 transparent, 1px 1px 0 transparent;
		-webkit-text-stroke: 1px transparent;
}

.advantage-content {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		-ms-flex-pack: center;
		width: 100%;
		height: 1100px;
		height: 1050px;
		height: 1330px;
}

.advantage-body {
		position: relative;
		width: 100%;
		margin-top: 20px;
		margin-top: 40px;
		margin-top: 60px;
}

.advantage-details {
		margin-top: 100px;
		margin-top: 290px;
		margin-top: 360px;
}

.advantage-grid {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
}

.advantage .grid-col {
		flex-grow: 1;
}

.advantage-text {
		margin: 0 auto;
		font-size: 17px;
		letter-spacing: -0.28px;
		line-height: 24;
		text-align: center;
		font-size: 24px;
		letter-spacing: -0.4px;
		line-height: 37px;
		text-align: left;
		max-width: 85%;
		max-width: 90%;
		max-width: 330px;
		max-width: 416px;
}

.getapp {
		position: relative;
}

.getapp .fill--getapp2 {
		top: 30%;
}

.getapp-content {
		z-index: 1;
		position: relative;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-justify-content: space-between;
		-moz-justify-content: space-between;
		-ms-justify-content: space-between;
		justify-content: space-between;
		-ms-flex-pack: space-between;
		height: 100vh;
		min-height: 630px;
		min-height: 700px;
}

.getapp-body {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		-moz-align-items: center;
		-ms-align-items: center;
		align-items: center;
		width: 100%;
		height: 100%;
		text-align: center;
}

.getapp-container {
		padding: 0;
		margin: 0 auto;
		max-width: 1200px;
}

.getapp-header {
		display: inline-block;
		max-width: 280px;
		margin: 0;
		font-size: 30px;
		font-weight: 600;
		letter-spacing: -2.24px;
		line-height: 32px;
		max-width: 580px;
		font-size: 60px;
		letter-spacing: -4.48px;
		line-height: 70px;
		max-width: 700px;
		font-size: 70px;
		letter-spacing: -5.22px;
		line-height: 74px;
		max-width: 800px;
		font-size: 80px;
		letter-spacing: -5.97px;
		line-height: 86px;
}

.getapp-store {
		margin: 23px 0 -7px 0;
		margin: 45px -10px 0 -16px;
		margin: 65px 0 0 0;
}

.getapp-store-item {
		display: inline-block;
		padding: 7px 0;
		padding: 0 16px;
}

.getapp-footer {
		width: 100%;
		padding-bottom: 50px;
}

.getapp-dev {
		display: inline-block;
		color: rgba(33, 40, 189, 0.75);
		font-weight: 500;
		font-size: 14px;
		letter-spacing: -0.18px;
		font-size: 16px;
		letter-spacing: -0.21px;
}

.getapp-dev-text {
		margin-top: 4px;
}

/*! 
  NANALIKE
*/
