.btn-transparent {
  color: #005ffe;
  border: 1px rgba(0, 95, 254, 0.3) solid;
}

.btn-rounded {
  height: 60px;
  padding: 0 39px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.21px;

  .btn-text {
    position: relative;
    display: block;
    transition: transform 0.85s cubic-bezier(0.19, 1, 0.22, 1);
    transform-origin: left center;

    &:after {
      position: absolute;
      top: 150%;
      display: block;
      content: attr(data-text);
      transform: skewY(30deg);
      transform-origin: left center;
      transition: transform 0.85s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }

  &:hover .btn-text {
    transform: translateY(-150%) skewY(7deg);

    &:after {
      transform: skewY(-7deg);
    }
  }
}

.btn-bound {
  display: block;
  overflow: hidden;
}

.btn-store {
  @include inline-flex();
  @include align-items(center);
  border: 1px rgba(0, 95, 254, 0.3) solid;
  font-weight: 500;
  text-align: left;
  color: #2128bd;

  //normal
  height: 57px;
  min-width: 165px;
  padding: 0 18px;
  font-size: 13px;
  border-radius: 10px;
  line-height: 14px;
  letter-spacing: -0.17px;

  //768
  height: 72px;
  min-width: 203px;
  padding: 0 23px;
  font-size: 16px;
  border-radius: 20px;
  line-height: 18px;
  letter-spacing: -0.21px;

  &-icon {
    display: block;
    line-height: 0;

    //normal
    font-size: 20px;
    min-width: 37px;

    //768
    min-width: 40px;
    font-size: 22px;
  }

  &-title b {
    letter-spacing: 0;
  }
}
