/*! style.css */

@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/mediaQueries";
@import "helpers/emoji";

@import "base/font";
// @import "base/svg";
@import "base/reset";
@import "base/common";
// @import "base/animation";

@import "modules/_nav";
@import "modules/_shape-title";
@import "modules/_buttons";

@import "layout/_hero";
@import "layout/_envelope";
@import "layout/_showreel";
@import "layout/_description";
@import "layout/_feature";
@import "layout/_advantage";
@import "layout/_getapp";
