/*! style.css */

@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/mediaQueries";
@import "helpers/emoji";

@import "base/font";
// @import "base/svg";
@import "base/reset";
@import "base/common";
// @import "base/animation";

// @import "modules/header";
// @import "modules/footer";
@import "modules/shape-title";
@import "modules/buttons";

@import "layout/_hero";
@import "layout/_envelope";
@import "layout/_showreel";
@import "layout/_description";
@import "layout/_feature";
@import "layout/_advantage";
