.advantage {
  &-content {
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);
    width: 100%;
    padding: 140px 0;

    @include res--tablet {
      padding: 0;
      height: 1000px;
    }

    @include res--laptopLG {
      height: 1050px;
    }

    @include res--desktop {
      height: 1330px;
    }
  }
  &-body {
    position: relative;
    width: 100%;
    @include res--laptop {
      margin-top: 20px; //min 1024
    }
    @include res--laptopLG {
      margin-top: 40px; //min 1200
    }
    @include res--desktop {
      margin-top: 60px; //min 1600
    }
  }
  &-container {
    padding: 0 10px;

    @include res--tablet {
      padding: 0 30px;
    }

    @include res--laptopLG {
      padding: 0 130px;
    }
    @include res--desktop {
      padding: 0 270px;
    }
  }
  &-details {
    margin-top: 100px;

    @include res--tablet {
      margin-top: 250px; //768
    }

    @include res--desktop {
      margin-top: 360px; //1600
    }
  }
  &-grid {
    @include flexbox();
    @include align-items(flex-start);
    @include flex-direction(column);
    @include res--laptop {
      @include flex-direction(row);
    }
  }
  .grid-col {
    margin: 20px 0;

    @include res--tablet {
      flex-grow: 1;
    }
  }
  &-text {
    margin: 0 auto;

    font-size: 17px;
    letter-spacing: -0.28px;
    line-height: 24px;

    @include res--tablet {
      font-size: 24px; //768
      letter-spacing: -0.4px; //768
      line-height: 37px; //768
      text-align: left; //768
    }

    @include res--mobileSM {
      max-width: 85%; //360px
    }
    max-width: 90%; //기본
    @include res--laptopLG {
      max-width: 330px; //1024
    }
    @include res--laptopLG {
      max-width: 416px; //1200
    }
  }

  .shape-title-text {
    font-size: 70px;

    @include res--tablet {
      font-size: 90px;
    }
    @include res--laptop {
      font-size: 110px;
    }
    @include res--laptopLG {
      font-size: 120px;
    }
  }
}
