.envelope {
  position: relative;

  &-content {
    z-index: 1;
    position: relative;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    height: 105vh;
    min-height: 850px;
    transform-style: preserve-3d;
  }

  &-body {
    width: 100%;
    text-align: center;
  }

  &-container {
  }

  &-title {
    font-size: 80px;
    letter-spacing: -5px;
    line-height: 86px;
    color: #2128bd;
  }

  &-text {
    margin: 35px 0 0 0;
    font-size: 24px;
    letter-spacing: -0.4px;
    line-height: 26px;
    color: #2128bd;
  }
}
