.hero {
  font-size: 14px;
  &-body {
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    width: 100%;
    height: 100vh;
  }
  &-title {
    position: relative;
    width: 100%;
    text-align: center;

    &-shape {
      contain: strict;
      position: absolute;
      top: -10px;
      left: -5px;
      right: -5px;
      bottom: -14px;
      // overflow: hidden;
      background: #2128bd;
    }

    &-cursor {
      // display: none;
      position: absolute;
      width: 650px;
      height: 650px;
      margin-top: -195px; //왜 30퍼지;;
      margin-left: -325px;
      top: 0;
      left: 0;
      background: #ffcc57;
      border-radius: 100%;
      outline: 4px solid red;
    }

    &-blend {
      z-index: 1;
      position: relative;
      width: 100%;
      // color: #2128bd;
      // width: 100vw;
      // height: 100vh;
      color: #000;
      background-color: #fff;
      mix-blend-mode: screen;
      transform: translateZ(0);

      &:before {
        content: "";
        position: absolute;
        top: -12px;
        left: -6px;
        right: -6px;
        bottom: -22px;
        z-index: -1;
        // background: #fff;
        // background: rgb(232, 49, 49);
      }
    }

    &-text {
      display: inline-block;
      font-weight: 600;
      letter-spacing: -0.075em;
      font-size: 120px;
      text-rendering: optimizeSpeed;
      line-height: 93%;
      // font-size: 8vw;
    }

    br {
      display: none;
    }
  }
}
