.showreel {
  &-content {
    @include flexbox();
    @include align-items(center);
    @include justify-content(flex-start);
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  &-roll {
    margin: 0 calc(50vw - 672px / 2);
  }
  &-roll-inner {
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
  }
  &-roll-item {
    max-width: 672px;
    min-width: 672px;
    margin: 0 40px;
    &:first-child {
      margin-left: 0;
    }
  }
  &-roll-item-title {
    position: relative;
    text-align: left;
    font-weight: 500;
    color: #030762;
    font-size: 40px;
    letter-spacing: -0.67px;
    line-height: 52px;

    &:before {
      // blend mode를 위한 텍스트 복사
      z-index: 1;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      color: #fff;
      content: attr(data-text);
      mix-blend-mode: overlay;
    }
  }
}
