.section {
  position: relative;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 270px 0 270px;
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  & + [class$="-content"] {
    position: relative;
    z-index: 1;
  }
}
.fill {
  &[class$="--tertiary"] {
    background: #fdf0e5;
  }
  &[class$="--secondary"] {
    background: #eefbff;
  }
}

.grid {
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
}
.--right {
  padding-left: 90px;
}

// .text-hidden {
//   position: absolute;
//   @include text-hidden;
// }

// .visible {
//   visibility: visible !important;
//   opacity: 1 !important;
// }

// .wrap {
//   max-width: 1400px;
//   padding-top: 176px;
//   margin: 0 auto;

//   @include res--desktop {
//     max-width: none;
//     margin: 0 132px;
//     padding-top: 150px;
//   }

//   @include res--laptop {
//     margin: 0 32px;
//     padding-top: 130px;
//   }

//   @include res--tablet {
//     margin: 0;
//     padding-top: 110px;
//   }
// }

// .cursor {
//   display: none;
//   z-index: 999;
//   position: fixed;
//   @include pointer-none;
//   @include select-none;
//   width: 82px;
//   height: 88px;
//   @include bgi("cursor-hand");
//   background-size: 68px 79px;

//   &.show {
//     display: block;
//   }

//   &.clicked {
//     transform: translate(-14px, -9px);
//     @include bgi("cursor-click");
//     background-size: 100%;
//   }
// }

// //TRANSITION!!!
// .mask {
//   width: 100%;
//   height: 100%;
//   position: fixed;
//   right: 0;
//   left: 0;
//   bottom: 0;
//   top: inherit;
//   z-index: 1400;
//   @include pointer-none;
//   transform: translate3d(0, 100%, 0);
//   animation-duration: 1500ms;
//   animation-fill-mode: forwards;

//   &--blue {
//     animation-name: maskAnimation01;

//     .mask-box {
//       background-color: #0b21ee;
//     }
//   }

//   &--yellow {
//     animation-name: maskAnimation01;
//     animation-delay: 200ms;

//     .mask-box {
//       background-color: #fffc00;
//     }
//   }
// }

// .mask-container {
//   animation: maskAnimation03 5s 3s;
// }

// .mask-inner {
//   width: 100%;
//   height: 150%;
//   position: relative;
// }

// .mask-wave {
//   width: 100%;
//   height: auto;
//   vertical-align: top;
// }

// .mask-box {
//   display: block;
//   width: 100%;
//   height: 100%;
// }

// @keyframes maskAnimation01 {
//   100% {
//     transform: translate3d(0, -50%, 0);
//   }
// }

// @keyframes maskAnimation02 {
//   100% {
//     transform: translate3d(0, -20%, 0);
//   }
// }

// @keyframes maskAnimation03 {
//   100% {
//     transform: translate3d(0, -100%, 0);
//   }
// }
